.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #111;
	background-image:
	repeating-linear-gradient(120deg, rgba(0,255,0,.1), rgba(0,255,0,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(0,255,0,.1), rgba(0,255,0,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0 ,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	color:rgb(255,255,165);
}
.content {
	flex: 1;
    background:rgba(255,255,255,0.1);
}
